<div class="btn-create-wrapper">
    <button type="button" class="btn-create">
        <i class="material-icons">add</i>
    </button>


    <ul id="create-sections-{{id}}" class="create-section-list">
        {{!-- <li><button type="button" data-type="text" data-action="add"><i class="material-icons">add</i></button></li> --}}
        <li>
            <button type="button" data-type="video" data-action="add"><i class="material-icons">video_library</i></button>
        </li>
        <li>
            <button type="button" data-type="audio" data-action="add"><i class="material-icons">library_music</i></button>
        </li>
        <li>
            <button type="button" data-type="image" data-action="add"><i class="material-icons">collections</i></button>
        </li>
        <li>
            <button type="button" data-type="link" data-action="add"><i class="material-icons">link</i></button>
        </li>
    </ul>
</div>