<div class="btn-create-wrapper">
    <button type="button" class="btn-create" data-trget="toggleList">
        <i class="material-icons" data-trget="toggleList">add</i>
    </button>


    <ul id="create-sections-{{id}}" class="create-section-list">
        {{!-- <li><button type="button" data-type="text" data-action="add"><i class="material-icons">add</i></button></li> --}}
        <li>
            <button type="button" data-type="video" data-action="add" data-toggle="modal" data-target="#fileManagerModal" data-section-id="{{id}}"><i class="material-icons">movie_creation</i></button>
        </li>
        <li>
            <button type="button" data-type="audio" data-action="add" data-toggle="modal" data-target="#fileManagerModal" data-section-id="{{id}}"><i class="material-icons">audiotrack</i></button>
        </li>
        <li>
            <button type="button" data-type="image" data-action="add" data-toggle="modal" data-target="#fileManagerModal" data-section-id="{{id}}"><i class="material-icons">photo</i></button>
        </li>
    </ul>
</div>