<div class="btn-delete-wrapper">
    <button type="button" class="btn-delete" id="btn-delete-{{id}}" data-target="#delete-sections-{{id}}" data-action="removeList">
        <i class="material-icons md-18 btn-create-text" data-target="#remove-sections-{{id}}" data-action="removeList">remove</i>
    </button>
</div>