<div class="text-editor-wrapper flexbox flexbox-align-center flexbox-justify-center">
    <button class="text-editor-item flexbox flexbox-align-center flexbox-justify-center">
        <i class="material-icons">format_bold</i>
    </button>
    <button class="text-editor-item flexbox flexbox-align-center flexbox-justify-center">
        <i class="material-icons">format_italic</i>
    </button>
    <button class="text-editor-item flexbox flexbox-align-center flexbox-justify-center">
        <i class="material-icons">format_underlined</i>
    </button>

    <button class="text-editor-item flexbox flexbox-align-center flexbox-justify-center">
        <i class="material-icons">link</i>
    </button>

    <button class="text-editor-item flexbox flexbox-align-center flexbox-justify-center">
        <i class="custom-icons ci-18 ci-b">H1</i>
    </button>

    <button class="text-editor-item flexbox flexbox-align-center flexbox-justify-center">
        <i class="custom-icons ci-18 ci-b">H2</i>
    </button>

    <button class="text-editor-item flexbox flexbox-align-center flexbox-justify-center">
        <i class="material-icons">format_quote</i>
    </button>
</div>