@import "mixin";
@import "fonts";
$drilldown-link-color: #656565;
$drilldown-hover-link-color: #424242;
$drilldown-focus-link-color: #424242;
$drilldown-active-link-color: #424242;
$drilldown-disable-link-color: #656565;
$drilldown-disable-hover-link-color: #656565;
$drilldown-disable-focus-link-color: #656565;
$drilldown-disable-active-link-color: #656565;
// @import "../../node_modules/vaslapp-file-manager/dist/filemanager.css";
// ===========================================================
body {
    font-family: Roboto, IRANSans, sans-serif !important; // direction: rtl;
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

.cm-wrapper {
    label {
        margin-bottom: 0;
    }
}
.map-link{
    color: #000000;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: #007bff;
    }
    &::before{
        font-family: 'Material Icons';
        content: "\e0c8";
        font-size: 29px;
        position: relative;
        bottom: -9px;
        line-height: 0px;
    }
}

.link-link{
    color: #000000;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: #007bff;
    }
    &::before{
        font-family: 'Material Icons';
        content: "\e157";
        font-size: 29px;
        position: relative;
        bottom: -9px;
        line-height: 0px;
        margin-right: 5px;
    }
}

// ===========================================================
.hasChild>a:after {
    content: ""; // rtl => border-right: 4px dashed;
    // ltr => border-left: 4px dashed;
    border-right: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

// ===========================================================
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
}

// ===========================================================
.cm-wrapper {
    position: relative;
    margin-bottom: 16px;
}

.cm-section {
    position: relative;
    margin-bottom: 10px;
}

.cm-content {
    min-height: 40px;
    padding: 8px;
    position: relative;
    right: 38px;
    border: 1px solid #7d7d7d;
    border-radius: 5px;
    width: calc(100% - 38px);

    &:focus {
        outline: none;
    }
    & video, & img{
        // width: calc(100% - 26px);
        max-width: 100%;
    }

}

.cm-btn-control {
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 0;
    right: 0;

    .btn-create, .btn-delete {
        border-radius: 50vh;
        padding: 8px;        
        border: 1px solid #656565;
        background-color: #ffffff;
        color: #656565;
        cursor: pointer;
        &:hover,
        &:active,
        &:focus {
            color: #424242;
            border-color: #424242;
            outline: none;
        }
    }
    .btn-create-wrapper {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        .btn-create, .btn-delete  {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            i {
                transition: transform 400ms ease-in-out;
            }
            &.close i {
                transition: transform 400ms ease-in-out;
                transform: rotate(45deg);
            }
        }
    }
}

.create-section-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
    margin-right: 40px;
    background-color: white;
    &.show {
        display: flex;
    }
    li {
        display: inline-block;
        button {
            display: flex;
            align-items: center;
            padding: 8px;
            border: 1px solid #656565;
            color: #656565;
            background-color: #ffffff;
            border-radius: 50vh;
            cursor: pointer;
            &:hover,
            &:active,
            &:focus {
                outline: none;
                color: #424242;
                border-color: #424242;
            }
            i {
                font-size: 18px;
            }
        }
    }
}

.text-editor-wrapper {
    padding: 0;
    .text-editor-item:first-child {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }
    .text-editor-item:last-child {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        border-right: 1px solid #000000;
    }
}

.text-editor-item {
    border: none;
    width: 48px;
    height: 48px;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: #424242;
    color: #ffffff;
}

.custom-icons {
    font-style: normal;
    &.ci-18 {
        font-size: 18px;
    }
    &.ci-b {
        font-weight: bold;
    }
}

@import '../../node_modules/medium-editor/dist/css/medium-editor.min.css';
@import '../../node_modules/medium-editor/dist/css/themes/beagle.min.css';
.flexbox {
    display: flex;
    &.flexbox-align-center {
        align-items: center;
    }
    &.flexbox-just-spacebetween {
        justify-content: space-between;
    }
}

.modal-body {
    // max-height: calc(100vh - 200px);  with footer
    max-height: calc(100vh - 128px); // height: calc(100vh - 200px); with footer
    height: 512px;
    overflow: hidden;
    overflow-y: auto;
    
}
